body {
    font-family: Arial, sans-serif;
    background-color: #bfb9b9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.weather-card {
    background-color: #f1e5e5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px;
}

.weather-card h2 {
    margin-bottom: 10px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.temperature {
    font-size: 2rem;
    font-weight: bold;
}

.other-details {
    margin-top: 10px;
    text-align: left;
}

.form {
    margin-top: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input[type="text"] {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.form button:hover {
    background-color: #636e83;
}
.form button:active{
    background-color: #007bff;
}
